@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 12px;
    background: #dddddd;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #6B120A;
  }